:root {
  --hover-nav-color: #f5f5f7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(50, 50, 49);
  color: rgba(209, 209, 209, 0.774);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  position: relative;
}
.burger {
  margin-left: -1rem;
  cursor: pointer;
  width: 40px;
}
.moved {
  margin-top: -1.5rem;
  margin-left: -1.5rem;
  margin-right: 0.5rem;
}
.menu {
  border: solid rgb(205, 205, 206);
  width: 30px;
  border-width: 0 0 2px 0;
  display: block;
  padding-top: 0.5rem;
  margin-bottom: 6px;
}
.menu-2 {
  border: solid rgb(205, 205, 206);
  width: 35px;
  border-width: 0 0 2px 0;
  display: block;
}
.clicked-1 {
  transition: all 0.2s ease;
  display: inline-block;
  margin-bottom: -0.9rem;
  width: 25px;
  -webkit-transform: rotate(-45deg) translateY(8px);
  transform: rotate(-45deg) translateY(8px);
}
.clicked-2 {
  transition: all 0.2s ease;
  width: 25px;
  margin-top: 17px;
  margin-left: 2.5px;
  -webkit-transform: rotate(45deg) translateY(-8px);
  transform: rotate(45deg) translateY(-8px);
}
.logo {
  position: absolute;
  top: 10%;
  fill: rgba(215, 215, 215, 0.897);
  transition: all 0.3s ease;
}

.logo:hover {
  fill: rgb(255, 255, 252);
}
.search {
  transition: all 0.3s ease;
  position: absolute;
  top: 5%;
  margin-left: -1rem;
  fill: rgba(215, 215, 215, 0.897);
}
.search:hover {
  fill: rgb(255, 255, 252);
}
.cart {
  transition: all 0.3s ease;
  position: absolute;
  top: 5%;
  fill: rgba(215, 215, 215, 0.897);
}
.cart:hover {
  fill: rgb(255, 255, 252);
}
.list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  height: 3rem;
}
.links {
  cursor: pointer;
  transition: all 0.3s ease;
}
.links:hover {
  color: var(--hover-nav-color);
  border-bottom: 2px black solid;
}
.ipad {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-left: -10rem;
}
.ipad-img {
  margin-bottom: 5rem;
  margin-left: -7rem;
  width: 50rem;
  height: 45rem;
}
#content {
  text-align: center;
  position: absolute;
  margin-top: 16rem;
  margin-left: 35rem;
  width: 25rem;
  height: 18rem;
  padding: 0rem;
}
#title {
  font-size: 59px;
  padding-bottom: 0.8rem;
  font-weight: 700;
}
#slogan {
  width: 24rem;
  font-size: 30px;
  margin-left: 2rem;
}
#date {
  width: 15rem;
  font-size: 24px;
  font-weight: 200;
  margin-top: 0.5rem;
  margin-left: 6.5rem;
  color: gray;
}
.arrow {
  border: solid rgb(91, 172, 247);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#content-links {
  font-size: 24px;
  width: 28rem;
  margin-top: 1rem;
  margin-left: -1rem;
}
#links {
  padding-left: 3rem;
  text-decoration: none;
  color: rgb(91, 172, 247);
}
.fullscreen {
  display: flex;
  width: 100%;
  height: 30rem;
}
.iphone-pro-img {
  width: 100%;
  height: 30rem;
}
#content.iphone-pro-content {
  margin-top: 1rem;
  margin-left: 45.5rem;
  padding: 0;
  height: 10rem;
  position: absolute;
  justify-content: center;
}
.iphone-pro-title {
  margin-left: 3rem;
  margin-bottom: -1rem;
}
.iphone-pro-slogan {
  margin-bottom: -0.6rem;
}
.iphone-pro-content > .iphone-pro-title,
.iphone-pro-content > .iphone-pro-slogan {
  color: whitesmoke;
}
.fitness-div {
  background-color: rgb(245, 245, 244);
}
#content.fitness-content {
  margin-top: 3rem;
  margin-left: 30rem;
  width: 60rem;
}
.fitness-img {
  margin-top: 5rem;
  width: 100%;
}
#slogan.fitness-slogan {
  margin-left: 11rem;
  width: 40rem;
  color: black;
}
#content-links.fitness-links {
  margin-left: 15rem;
}
#Watches {
  display: flex;
  margin-top: 0.7rem;
  background-color: rgb(251, 251, 250);
}
#watch {
  margin-top: 5rem;
}
#watch-img {
  position: absolute;
  width: 50%;
  margin-left: 0rem;
  margin-top: 0rem;
}
#content.watch-content {
  margin-top: -2rem;
  margin-left: 15.7rem;
}
.watch-ultra-title {
  margin-left: 2.5rem;
  margin-bottom: 0;
}
#content-links.ultra-links {
  margin-left: -1.5rem;
}
.watch-series {
  background-color: black;
  margin-left: 60rem;
}
.watch-series-img {
  margin-top: 5rem;
  width: 100%;
}
#content.watch-series-content {
  position: absolute;
  margin-top: -30rem;
  margin-left: 16rem;
}
.watch-series-title {
  margin-left: 2rem;
}
.watch-series-slogan {
  color: white;
}
#content-links.series-links {
  margin-left: -1.5rem;
}
#new-pr {
  display: flex;
  margin-top: 0.7rem;
  background-color: rgb(251, 251, 250);
}
.iphone {
  margin-top: 5rem;
}
.iphone-img {
  position: absolute;
  width: 50%;
  margin-left: 0rem;
  margin-top: 1rem;
}
#content.iphone-content {
  margin-top: -1.5rem;
  margin-left: 16rem;
}
.iphone-title {
  margin-bottom: -1rem;
  margin-left: 2.8rem;
}
#content-links.iphone-links {
  margin-left: -1.5rem;
}

.ipad-pro {
  width: 70%;
  margin-top: 0rem;
  margin-left: 60rem;
  background-color: black;
}
.ipad-pro-img {
  width: 80%;
  height: 27rem;
  margin-top: 6.1rem;
  margin-left: 8rem;
}
#content.ipad-pro-content {
  margin-top: -32rem;
  margin-left: 15.5rem;
}
.ipad-pro-title {
  color: whitesmoke;
  margin-left: 5rem;
  margin-bottom: -1rem;
}
.ipad-pro-slogan {
  color: whitesmoke;
}
.m2 {
  position: absolute;
  margin-top: -2.1rem;
  margin-left: 8.3rem;
}
#date.ipad-pro-date {
  margin-left: 8rem;
}
#content-links.ipad-pro-links {
  margin-left: 0rem;
}
#last-split {
  display: flex;
  margin-top: 0.7rem;
  background-color: rgb(245, 245, 244);
}
.tv {
  margin-top: 6rem;
}
.tv-img {
  position: absolute;
  width: 50%;
}
#content.tv-content {
  margin-top: -4rem;
  margin-left: 15rem;
}
#title.tv-title {
  margin-left: 3rem;
  margin-bottom: -1rem;
}
#slogan.tv-slogan {
  margin-bottom: -0.5rem;
}
#date.tv-date {
  margin-bottom: 0.7rem;
}
#content-links.tv-links {
  margin-left: -1.5rem;
}
.card {
  margin-top: 0rem;
  margin-left: 60rem;
  width: 60rem;
  background-color: rgb(251, 251, 250);
}
.card-img {
  margin-top: 5rem;
  margin-left: -10rem;
  width: 80%;
  height: 27rem;
  margin-top: 6.1rem;
  margin-left: 8rem;
}
#content.card-content {
  position: absolute;
  margin-top: -32rem;
  margin-left: 17rem;
}
#title.card-title {
  margin-left: 2rem;
}
.footer {
  font-size: 14px;
  font-weight: 500;
  margin-top: 2rem;
  background-color: rgb(245, 245, 244);
}
.first-footer {
  display: flex;
  text-align: left;
  line-height: 1rem;
  flex-direction: column;
  width: 85rem;
  margin-bottom: 1rem;
  margin-left: 20rem;
  padding-top: 2rem;
  padding-right: 7rem;
  padding-bottom: 2rem;
  padding-left: 7rem;
  border-bottom: 1px solid gray;
}
.footer-p {
  padding: 0.7rem;
}
.second-footer {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.footer-ul {
  padding-top: 1rem;
}
.footer-h {
  padding-bottom: 0.7rem;
}
.footer-h-column {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
.footer-li {
  list-style: none;
  line-height: 1.7rem;
  cursor: pointer;
}

.footer-links {
  color: black;
  text-decoration: none;
}
.footer-links:hover {
  text-decoration: underline;
}
#mobile-footer {
  display: none;
}
#last-footer {
  border-top: 1px gray solid;
  margin-top: 1rem;
  margin-left: 25rem;
  padding-top: 1rem;
  padding-left: 25rem;
  width: 70rem;
  font-size: 18px;
}
.copy {
  margin-bottom: 0.5rem;
}
#copy-date {
  margin-left: 10rem;
  margin-bottom: 0.5rem;
}
#copy-link {
  margin-left: 5rem;
  margin-bottom: 1rem;
}
.foot-link {
  text-decoration: none;
  color: gray;
  margin-bottom: 1rem;
  border-bottom: 1px rgb(182, 182, 182) solid;
}
@media screen and (max-width: 1440px) {
  .ipad {
    margin-top: 2rem;
  }
  .ipad-img {
    height: 43rem;
  }
  #content.iphone-pro-content {
    margin-left: 31rem;
  }
  #content.fitness-content {
    margin-left: 15rem;
  }
  #watch {
    height: 25rem;
    margin-left: -17rem;
  }
  #watch-img {
    position: absolute;
    margin-top: 7rem;
    margin-left: 14rem;
  }
  #content.watch-content {
    margin-left: 23rem;
  }
  .watch-series-img {
    margin-top: 11rem;
    margin-left: 0rem;
  }
  #content.watch-series-content {
    margin-top: -27rem;
    margin-left: 8.5rem;
  }
  .iphone {
    margin-left: -17rem;
  }
  .iphone-img {
    margin-top: 5.4rem;
    margin-left: 10rem;
    width: 50rem;
  }
  #content.iphone-content {
    margin-left: 21.5rem;
  }

  .ipad-pro-img {
    width: 100%;
    margin-left: 0rem;
  }
  #content.ipad-pro-content {
    margin-top: -32rem;
    margin-left: 7.5rem;
  }
  .tv {
    margin-top: 6rem;
    margin-left: -12rem;
  }
  .tv-img {
    margin-left: 10rem;
  }
  #content.tv-content {
    margin-top: -6rem;
    margin-left: 19rem;
  }
  .card {
    margin-top: 0rem;
    margin-left: 55rem;
    width: 100%;
  }
  .card-img {
    height: 20rem;
    margin-top: 6.1rem;
  }
  #content.card-content {
    margin-top: -27rem;
    margin-left: 13rem;
  }
  .first-footer {
    margin-left: 2.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .navbar {
    width: 100%;
  }
  .logo {
    margin-left: -1rem;
  }
  .list {
    gap: 1rem;
    margin-left: 2rem;
    width: 99.5%;
  }
  .search {
    margin-left: 0rem;
  }
  .cart {
    margin-left: 1.5rem;
  }
  .ipad {
    margin-top: 2rem;
  }
  .ipad-img {
    width: 40rem;
    height: 40rem;
    margin-right: -2rem;
  }
  #content.iphone-pro-content {
    margin-left: 17.5rem;
  }
  #content.fitness-content {
    margin-left: 2rem;
  }
  #watch {
    height: 22rem;
    margin-left: -28rem;
  }
  #watch-img {
    width: 35rem;
    position: absolute;
    margin-top: 5.9rem;
    margin-left: 25rem;
  }
  #content.watch-content {
    margin-left: 28.5rem;
  }
  .watch-series-img {
    margin-top: 12rem;
    margin-left: 0rem;
  }
  #content.watch-series-content {
    margin-top: -23.5rem;
    margin-left: 1.5rem;
  }
  .iphone {
    height: 22rem;
    margin-left: -28rem;
  }
  .iphone-img {
    height: 22rem;
    margin-top: 1.5rem;
    margin-left: 17rem;
    width: 43rem;
  }
  #content.iphone-content {
    margin-left: 24.7rem;
  }

  .ipad-pro-img {
    width: 30rem;
    height: 22rem;
    margin-left: 1rem;
  }
  #content.ipad-pro-content {
    margin-top: -28rem;
    margin-left: 0.5rem;
  }
  .tv {
    height: 22rem;
    margin-top: 6rem;
    margin-left: -28rem;
  }
  .tv-img {
    width: 35rem;
    height: 20rem;
    margin-top: 2rem;
    margin-left: 25rem;
  }
  #content.tv-content {
    margin-top: -5rem;
    margin-left: 29.5rem;
  }
  .card {
    height: 100%;
    margin-top: 0rem;
    margin-left: 60rem;
  }
  .card-img {
    height: 22rem;
    margin-left: 0rem;
    margin-top: 6.1rem;
  }
  #content.card-content {
    margin-top: -27rem;
    margin-left: 3rem;
  }
  .first-footer {
    width: 60rem;
    padding-right: 2rem;
    padding-left: 1rem;
    margin-left: 1rem;
  }
  .second-footer {
    gap: 2rem;
  }
}
@media screen and (max-width: 375px) {
  .links {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  .logo {
    z-index: 99;
    display: flex;
    justify-content: center;
    margin-left: 6.5rem;
  }
  .cart {
    position: absolute;
    left: 83%;
  }
  .ipad {
    display: block;
  }
  .ipad-img {
    width: 50%;
    height: 20rem;
    margin-top: 12rem;
    margin-bottom: 1rem;
    margin-left: 14rem;
  }
  #content.ipad-content {
    padding: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: 4rem;
    margin-left: -3rem;
  }
  #title.ipad-title {
    margin-left: 3rem;
  }
  #date.ipad-date {
    display: none;
  }
  .fullscreen {
    background-color: black;
  }
  .iphone-pro-img {
    background-color: black;
    margin-top: 1rem;
    position: absolute;
    display: block;
    content: url(./apple\ page\ images/hero_iphone14pro__e5xbgo5ffhg2_small.jpg);
    object-fit: cover;
  }
  #content.iphone-pro-content.real {
    position: absolute;
    margin-top: 2rem;
    margin-left: -3rem;
    width: 100%;
  }
  #title {
    font-size: 45px;
  }
  #title.iphone-pro-title {
    margin-left: 5rem;
  }
  #slogan.iphone-pro-slogan.real {
    margin-left: 1.55rem;
  }
  #content-links.iphone-pro-links {
    margin-left: -2rem;
  }
  .fitness-div {
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  #new-pr {
    display: block;
    position: absolute;
    top: 0;
    margin-top: 70rem;
    width: 22.5rem;
  }
  .iphone {
    width: 100%;
  }
  .iphone-img {
    width: 100%;
    margin-left: 28rem;
    object-fit: cover;
  }
  #content.iphone-content {
    margin-top: -3rem;
    margin-left: 25.5rem;
  }

  .ipad-pro {
    margin-left: 0rem;
    width: 22.5rem;
  }
  .ipad-pro-img {
    width: 100%;
    margin-top: 8rem;
    margin-left: 0rem;
    object-fit: cover;
  }
  #content.ipad-pro-content {
    margin-top: -27rem;
    margin-left: -4.5rem;
  }
  #slogan.ipad-pro-slogan {
    font-size: 27px;
  }
  #date.ipad-pro-date {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  .m2 {
    margin-left: 7.5rem;
  }
  #links {
    font-size: 20px;
  }
  #last-split {
    display: block;
    position: absolute;
    top: 0;
    margin-top: 128rem;
    width: 22.5rem;
  }
  .tv-img {
    width: 100%;
    margin-top: 3rem;
    margin-left: 28rem;
    object-fit: cover;
  }
  #content.tv-content {
    margin-left: 25.7rem;
  }
  .card {
    position: relative;
    margin-left: 0rem;
    width: 22.5rem;
  }
  .card-img {
    width: 100%;
    margin-top: 8rem;
    margin-left: 0rem;
    object-fit: cover;
  }
  #content.card-content {
    margin-left: -3rem;
  }
  #slogan.card-slogan {
    font-size: 24px;
  }
  #Watches {
    display: block;
    position: absolute;
    top: 0;
    margin-top: 187rem;
    width: 22.5rem;
    overflow: hidden;
  }
  #watch-img {
    position: absolute;
    width: 100%;
    margin-top: 8rem;
    margin-right: 0;
    margin-left: 19rem;
    margin-bottom: 0;
    transform: scale(3.5);
    object-fit: cover;
  }
  #content.watch-ultra-content {
    margin-left: 25rem;
  }
  #watch-series {
    position: relative;
    margin-left: 0rem;
    width: 22.5rem;
    margin-top: 10rem;
  }
  #watch-series-8 {
    padding-top: 10rem;
  }
  #watch-series-img {
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 7.5rem;
    margin-left: 0rem;
    transform: scale(2.5);
    object-fit: cover;
  }
  #content.watch-series-content {
    margin-top: -27rem;
    margin-left: -2rem;
  }
  .footer {
    position: absolute;
    top: 100%;
    margin-top: 211rem;
    margin-right: 0.5rem;
    width: 22.5rem;
  }
  .one {
    display: none;
  }
  .first-footer {
    /* visibility: hidden;
    opacity: 0;
    display: none; */
    width: 97%;
    font-size: 12px;
    margin-left: 0.35rem;
  }
  .second-footer {
    visibility: hidden;
    opacity: 0;
    display: none;
    gap: 0rem;
  }
  .footer-ul {
    width: 100%;
  }
  .footer-p {
    padding: 0;
  }
  #mobile-footer {
    display: block;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }

  #foot-nav {
    display: block;
    padding-left: 1rem;
    line-height: 1.3rem;
    list-style: none;
    width: 100%;
    border-bottom: 1.5px gray solid;
  }
  h4 {
    display: flex;
    font-weight: 500;
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: rgb(110, 110, 110);
  }
  h4:hover {
    color: black;
  }
  #plus {
    font-size: 18px;
  }

  .two {
    margin-left: 16.2rem;
  }
  .three {
    margin-left: 16.2rem;
  }
  .four {
    margin-left: 15rem;
  }
  .five {
    margin-left: 14.4rem;
  }
  .shop-h > div {
    margin-left: 13.6rem;
  }
  .hide-shop {
    display: none;
  }
  .services-h {
    margin-top: 0.5rem;
  }
  .account-h {
    margin-top: 0.5rem;
  }
  .store-h {
    margin-top: 0.5rem;
  }
  .buss-h {
    margin-top: 0.5rem;
  }
  #last-footer {
    width: 21rem;
    border: none;
    font-size: 14px;
    margin-left: 0rem;
    padding-left: 0;
  }
  .copy {
    width: 19.5rem;
    display: flex;
    margin-left: 2rem;
    padding-right: 0;
  }
  #copy-date {
    width: 10rem;
    margin-left: 8rem;
  }
  #copy-link {
    margin-left: 4.8rem;
  }
  .foot-link {
    text-decoration: none;
    color: gray;
    margin-bottom: 1rem;
    border-bottom: 1px rgb(182, 182, 182) solid;
  }
  .active {
    transition: all 0.3s ease;
    transform: rotateZ(-45deg);
  }
  .trans {
    transition: all 1s ease;
    animation-duration: 0.3s;
    animation-name: slidedown;
  }
  @keyframes slidedown {
    from {
      opacity: 0;
      transform: translateY(-5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
