:root {
  --hover-nav-color: #f5f5f7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(50, 50, 49);
  color: rgba(209, 209, 209, 0.774);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  position: relative;
}
.logo {
  position: absolute;
  top: 10%;
  fill: rgba(215, 215, 215, 0.897);
  transition: all 0.3s ease;
}

.logo:hover {
  fill: rgb(255, 255, 252);
}
.search {
  transition: all 0.3s ease;
  position: absolute;
  top: 5%;
  margin-left: -1rem;
  fill: rgba(215, 215, 215, 0.897);
}
.search:hover {
  fill: rgb(255, 255, 252);
}
.cart {
  transition: all 0.3s ease;
  position: absolute;
  top: 5%;
  fill: rgba(215, 215, 215, 0.897);
}
.cart:hover {
  fill: rgb(255, 255, 252);
}
.list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  height: 3rem;
}
.links {
  cursor: pointer;
  transition: all 0.3s ease;
}
.links:hover {
  color: var(--hover-nav-color);
  border-bottom: 2px black solid;
}
.ipad {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-left: -10rem;
}
.ipad-img {
  margin-bottom: 5rem;
  margin-left: -7rem;
  width: 50rem;
  height: 45rem;
}
#content {
  text-align: center;
  position: absolute;
  margin-top: 16rem;
  margin-left: 35rem;
  width: 25rem;
  height: 18rem;
  padding: 0rem;
}
#title {
  font-size: 59px;
  padding-bottom: 0.8rem;
  font-weight: 700;
}
#slogan {
  width: 24rem;
  font-size: 30px;
  margin-left: 2rem;
}
#date {
  width: 15rem;
  font-size: 24px;
  font-weight: 200;
  margin-top: 0.5rem;
  margin-left: 6.5rem;
  color: gray;
}
.arrow {
  border: solid rgb(91, 172, 247);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#content-links {
  font-size: 24px;
  width: 28rem;
  margin-top: 1rem;
  margin-left: -1rem;
}
#links {
  padding-left: 3rem;
  text-decoration: none;
  color: rgb(91, 172, 247);
}
.fullscreen {
  display: flex;
  width: 100%;
  height: 30rem;
}
.iphone-pro-img {
  width: 100%;
  height: 30rem;
}
#content.iphone-pro-content {
  margin-top: 1rem;
  margin-left: 45.5rem;
  padding: 0;
  height: 10rem;
  position: absolute;
  justify-content: center;
}
.iphone-pro-title {
  margin-left: 3rem;
  margin-bottom: -1rem;
}
.iphone-pro-slogan {
  margin-bottom: -0.6rem;
}
.iphone-pro-content > .iphone-pro-title,
.iphone-pro-content > .iphone-pro-slogan {
  color: whitesmoke;
}
.fitness-div {
  background-color: rgb(245, 245, 244);
}
#content.fitness-content {
  margin-top: 3rem;
  margin-left: 30rem;
  width: 60rem;
}
.fitness-img {
  margin-top: 5rem;
  width: 100%;
}
#slogan.fitness-slogan {
  margin-left: 11rem;
  width: 40rem;
  color: black;
}
#content-links.fitness-links {
  margin-left: 15rem;
}
#Watches {
  display: flex;
  margin-top: 0.7rem;
  background-color: rgb(251, 251, 250);
}
#watch {
  margin-top: 5rem;
}
#watch-img {
  position: absolute;
  width: 50%;
  margin-left: 0rem;
  margin-top: 0rem;
}
#content.watch-content {
  margin-top: -2rem;
  margin-left: 15.7rem;
}
.watch-ultra-title {
  margin-left: 2.5rem;
  margin-bottom: 0;
}
#content-links.ultra-links {
  margin-left: -1.5rem;
}
.watch-series {
  background-color: black;
  margin-left: 60rem;
}
.watch-series-img {
  margin-top: 5rem;
  width: 100%;
}
#content.watch-series-content {
  position: absolute;
  margin-top: -30rem;
  margin-left: 16rem;
}
.watch-series-title {
  margin-left: 2rem;
}
.watch-series-slogan {
  color: white;
}
#content-links.series-links {
  margin-left: -1.5rem;
}
#new-pr {
  display: flex;
  margin-top: 0.7rem;
  background-color: rgb(251, 251, 250);
}
.iphone {
  margin-top: 5rem;
}
.iphone-img {
  position: absolute;
  width: 50%;
  margin-left: 0rem;
  margin-top: 1rem;
}
#content.iphone-content {
  margin-top: -1.5rem;
  margin-left: 16rem;
}
.iphone-title {
  margin-bottom: -1rem;
  margin-left: 2.8rem;
}
#content-links.iphone-links {
  margin-left: -1.5rem;
}

.ipad-pro {
  width: 70%;
  margin-top: 0rem;
  margin-left: 60rem;
  background-color: black;
}
.ipad-pro-img {
  width: 80%;
  height: 27rem;
  margin-top: 6.1rem;
  margin-left: 8rem;
}
#content.ipad-pro-content {
  margin-top: -32rem;
  margin-left: 15.5rem;
}
.ipad-pro-title {
  color: whitesmoke;
  margin-left: 5rem;
  margin-bottom: -1rem;
}
.ipad-pro-slogan {
  color: whitesmoke;
}
.m2 {
  position: absolute;
  margin-top: -2.1rem;
  margin-left: 8.3rem;
}
#date.ipad-pro-date {
  margin-left: 8rem;
}
#content-links.ipad-pro-links {
  margin-left: 0rem;
}
#last-split {
  display: flex;
  margin-top: 0.7rem;
  background-color: rgb(245, 245, 244);
}
.tv {
  margin-top: 6rem;
}
.tv-img {
  position: absolute;
  width: 50%;
}
#content.tv-content {
  margin-top: -4rem;
  margin-left: 15rem;
}
#title.tv-title {
  margin-left: 3rem;
  margin-bottom: -1rem;
}
#slogan.tv-slogan {
  margin-bottom: -0.5rem;
}
#date.tv-date {
  margin-bottom: 0.7rem;
}
#content-links.tv-links {
  margin-left: -1.5rem;
}
.card {
  z-index: 1;
  margin-top: 0rem;
  margin-left: 60rem;
  width: 70%;
  background-color: rgb(251, 251, 250);
}
.card-img {
  margin-top: 5rem;
  margin-left: -1rem;
  width: 80%;
  height: 27rem;
  margin-top: 6.1rem;
  margin-left: 8rem;
}
#content.card-content {
  position: absolute;
  margin-top: -32rem;
  margin-left: 17rem;
}
#title.card-title {
  margin-left: 2rem;
}
.footer {
  font-size: 14px;
  font-weight: 500;
  margin-top: 2rem;
  background-color: rgb(245, 245, 244);
}
.first-footer {
  display: flex;
  text-align: left;
  line-height: 1rem;
  flex-direction: column;
  width: 85rem;
  margin-bottom: 1rem;
  margin-left: 20rem;
  padding-top: 2rem;
  padding-right: 7rem;
  padding-bottom: 2rem;
  padding-left: 7rem;
  border-bottom: 1px solid gray;
}
.footer-p {
  padding: 0.7rem;
}
.second-footer {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.footer-ul {
  padding-top: 1rem;
}
.footer-h {
  padding-bottom: 0.7rem;
}
.footer-h-column {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
.footer-li {
  list-style: none;
  line-height: 1.7rem;
  cursor: pointer;
}
.footer-li:hover {
  border-bottom: 1px gray solid;
}
@media screen and (max-width: 1440px) {
  .ipad {
    margin-top: 2rem;
  }
  .ipad-img {
    height: 43rem;
  }
  #content.iphone-pro-content {
    margin-left: 31rem;
  }
  #content.fitness-content {
    margin-left: 15rem;
  }
  #watch {
    height: 25rem;
    margin-left: -17rem;
  }
  #watch-img {
    position: absolute;
    margin-top: 7rem;
    margin-left: 14rem;
  }
  #content.watch-content {
    margin-left: 23rem;
  }
  .watch-series-img {
    margin-top: 11rem;
    margin-left: 0rem;
  }
  #content.watch-series-content {
    margin-top: -27rem;
    margin-left: 8.5rem;
  }
  .iphone {
    margin-left: -17rem;
  }
  .iphone-img {
    margin-top: 5.4rem;
    margin-left: 10rem;
    width: 50rem;
  }
  #content.iphone-content {
    margin-left: 21.5rem;
  }

  .ipad-pro-img {
    width: 100%;
    margin-left: 0rem;
  }
  #content.ipad-pro-content {
    margin-top: -32rem;
    margin-left: 7.5rem;
  }
  .tv {
    margin-top: 6rem;
    margin-left: -12rem;
  }
  .tv-img {
    margin-left: 10rem;
  }
  #content.tv-content {
    margin-top: -6rem;
    margin-left: 19rem;
  }
  .card {
    margin-top: 0rem;
    margin-left: 55rem;
    width: 100%;
  }
  .card-img {
    height: 20rem;
    margin-top: 6.1rem;
  }
  #content.card-content {
    margin-top: -27rem;
    margin-left: 13rem;
  }
  .first-footer {
    margin-left: 2.5rem;
  }
}
